#related-posts {
    margin: 15px 5px;
}

#related-posts h2 {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    text-shadow: 1px 0px 2px #888;
    margin-bottom: 0.75em;
}

#related-posts a {
    font-size: 13px;
    color: #888;
    text-transform: capitalize;
}

#related-posts a:hover {
    text-decoration: none;
    color: #555;
}

#related-posts ul {
    list-style-type: none;
    margin: 0 0 0px 0;
    padding: 0px;
    text-decoration: none;
    color: #000000;
}

#related-posts ul {
    list-style-type: none;
    background: #f9f9f9;
    border-left: 5px solid #f2f2f2;
}

#related-posts li {
    padding: 10px;
    line-height: 1.4;
    border-bottom: 1px dotted #E2E2E2;
}

#related-posts li:hover {
    background: #F4F4F4;
}
